datasets>=2.18.0
pyarrow>=14.0.0
pandas>=2.0.0
qdrant-client>=1.8.0
sentence-transformers>=2.5.0
torch
fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic>=2.6.0
python-dotenv>=1.0.0
sarvamai>=0.1.0
groq>=0.5.0
tqdm>=4.66.0
numpy>=1.26.0
python-multipart>=0.0.9
requests>=2.31.0
